API_HOST=192.168.0.101
API_PORT=3000
#DEV_CLIENT_PORT=8080

# Порты и настройки для Docker
#CLIENT_OUT_PORT=8080
CORS_ORIGIN=http://192.168.0.101:3001
#SERVER_CORS_ORIGIN=http://localhost:8080
#NOTES_FILE_PATH=/app/server/data/dev_notes_v3.json
